# export VIRTUAL_ENV=".venv"
# layout python3

# Unset all TEMPORAL_ prefixed variables you want to wipe out
unset TEMPORAL_CLI_ADDRESS
unset TEMPORAL_CLI_NAMESPACE
unset TEMPORAL_CLI_TLS_CERT
unset TEMPORAL_CLI_TLS_KEY
unset TEMPORAL_CERT_PATH
unset TEMPORAL_KEY_PATH
unset TEMPORAL_NAMESPACE
unset TEMPORAL_ADDRESS
unset TEMPORAL_API_KEY

# Additional / CLI local server cleans
unset TEMPORAL_HOST_PORT
# Some of the above are duplicates, but it's OK
unset TEMPORAL_TLS_CERT
unset TEMPORAL_TLS_KEY

# Set your env you do want
export ENCRYPT_PAYLOADS=true

# If in certain subdirs you want to inherit from parent’s .envrc, and also add/subtract, you can:
# source_up_if_exists .envrc   # this will walk up to parent to source a file if found

# (Optional) if .venv/bin/activate needs extra work:
# source .venv/bin/activate

echo "Temporal env set to local by direnv."